<!-- <div class="col d-flex justify-content-end align-items-center"> -->
<!-- <button class="btn btn-secondary  mr-2" (click)="gotoRoute(item.link)" -->
<!-- *ngFor="let item of links">{{ item.title }}</button> -->
<!-- </div> -->

<div class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark " style="height: 80px;">
            <a class="navbar-brand font-weight-bold text-light" style="font-size:32px;padding-right: 30px; "><i
                    class="fas fa-book-reader font-info"></i> A2-demy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse"
                style="font-size:1.6rem; font-family: sans-serif;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active current">
                        <a class="nav-link " routerLink="/home">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active current">
                        <a class="nav-link " routerLink="/course">Courses<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active current">
                        <a class="nav-link" routerLink="/contact-us">Contact Us<span
                                class="sr-only">(current)</span></a>
                    </li>



                </ul>
                <form class="form-inline mt-2 mt-md-0">

                    <button class="btn btn-danger my-2 my-sm-0" routerLink="/login" (click)="logout()">Logout</button>
                </form>
            </div>
        </nav>
    </header>

</div>