<img [src]="url" width="1349" height="200" style="margin-top: 80px;">


<div class="container-fluid p-3">
    <div class="row">
        <div class="col-md-6">

            <form action="">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Full Name">
                    </div>

                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Email id">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Contact No">
                    </div>

                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="State">
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <textarea class="form-control" rows="5"></textarea>
                    </div>

                </div>

                <button type="submit" class="btn btn-lg btn-primary d-flex justify-content-center">
                    Send Message
                </button>

            </form>
        </div>

        <div class="col-md-6 address">
            <h5>Call Us</h5>
            <p>Tel: 91-7070707070</p>
            <p>Tel: 91-8080808080</p>


            <h5>Mail id</h5>
            <p>A2-demy@gmail.com</p>

            <h5>Working hours</h5>
            <p>24/7</p>

            <h5>Address</h5>
            <p>Mumbai, Maharashtra</p>

        </div>
    </div>