<div class="container-fluid pt-5" style="margin-top: 60px;">
    <div class="row">
        <div class="col-3">
            <div class="sticky-top" style="top: 90px;">
                <ul class="list-group" id="uli1" style="cursor: pointer; display: inline-block;">
                    <li class="list-group-item" style="background-color:rgb(48, 48, 48); color: whitesmoke;">
                        All
                        Categories
                    </li>
                    <li class="list-group-item">Web Development</li>
                    <li class="list-group-item">Android Development</li>
                    <li class="list-group-item">Machine Learning</li>
                    <li class="list-group-item">Data Science</li>
                    <li class="list-group-item">Cloud Computing</li>
                </ul>
            </div>
        </div>

        <div class="col-9">
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">


            <div class="row row-cols-1 row-cols-md-3 pt-3">
                <div class="col mb-4">
                    <div class="card"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/AtYbbP2lmPM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{this.courseList[0].Title}}</h5>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/4mAHaHO7PqA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{this.courseList[1].Title}}</h5>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/4IzU_jwRq4s"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{this.courseList[2].Title}}</h5>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/k5E2AVpwsko"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{this.courseList[3].Title}}</h5>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/fhRdqbEXp9Y"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{this.courseList[4].Title}}</h5>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/QFaFIcGhPoM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{this.courseList[5].Title}}</h5>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/aS__9RbCyHg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{this.courseList[6].Title}}</h5>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/KdgQvgE3ji4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{this.courseList[7].Title}}</h5>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dH0yz-Osy54"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{this.courseList[8].Title}}</h5>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/NKpuX_yzdYs"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{this.courseList[9].Title}}</h5>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <img [src]="url" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Coming Soon....</h5>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>